<div class="container">
  <h4 class="title">
    My Tweets!!
    <small class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
    </small>
  </h4>
  <div class="container">
    <div class="row">
      	<div class="col-md-9 summary">
        <table class='table'>
          <tbody>
            <tr><td colspan="2"><%= paginate @tweets %></td></tr>
          </tbody>
		  <% @tweets.each do |tweet| %>
          	
          <tbody>
              <tr> 
                <td>
                  <% if session[:user_id] && session[:user_id] == tweet.user_id %>
                     <%= tweet.create_time.to_formatted_s(:long)%>
                     <%= link_to "(edit)", "/tweets/#{tweet.id}/edit" %>&nbsp;
                     <%= link_to "(delete)", "/tweets/#{tweet.id}" , :method => "delete" %>
                  <% end %>  

                  <%= tweet.content %>
                </td>
              </tr>

              <% if  tweet.photo_url != nil && tweet.photo_url  =~ URI::regexp %>
                <tr>
                  <td>
                      <%= link_to image_tag(tweet.photo_url, height:'200'), "" %>
                  </td>    
                </tr>
              <% end %>
          </tbody>
          <% end %>
        </table>
        </div>  
    </div>
</div>        