<% require 'uri' %>
<div class="container">
  <h4 class="title">
    Follow!!
    <small class="text-muted">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
    </small>
  </h4>

<div class="container">
    <div class="row">
      <div class="col-md-3 text-left sky_blue">
      <p>
        <%= form_tag "/users/find" do %>
          <p><input type="text" name="search_text" value="<%=@search_text%>" placeholder="partial user name/name" maxLength = "20" length="20"></p>
          <p><i><font size="1"> e.g. pa displays users like Ashley Parker, Paula Brown etc.</font></i></p>
          <p><input type="submit" value="Search"></p>
        <% end %> 
      </p>
      </div>

      <div class="col-md-9 text-left">
        <table class='table table-striped'>
         <p>
          <tr>
              <th>user</th>
              <th>name</th>
              <th></th>
          </tr>
         </p> 

          <% if @users %>
            <% @users.each do |user| %>
              <tbody>
                <tr>
                  <td>
                    @<%=user.user_name%>     
                  </td>
                  <td>
                     <%=user.name%>
                  </td>
                  <td>
                    <% if Follow.find_by_followed_id_and_follower_id(user.id, session[:user_id] ) %>
                      <%= link_to "Following", "/unfollow/#{user.id}?search_text=#{@search_text}", :method => :post %>
                    <% else %>
                      <%= link_to "Follow", "/follow/#{user.id}?search_text=#{@search_text}", :method => :post %>
                    <% end %>
                  </td>
                </tr>
                </tbody>
             <% end  %> 
          <% end  %>  
        </table>
      </div>
    </div>
  </div>